#!/bin/bash


SQL="CREATE DATABASE IF NOT EXISTS cattle; GRANT ALL PRIVILEGES ON cattle.* TO cattle IDENTIFIED BY 'cattle'"
MY="mysql -h {{ server }} -u {{ db_user }} -p{{ db_pass }}"

${MY} -e "${SQL}"
[ -e /tmp/cattle.dump.sql ] && ${MY} cattle < /tmp/cattle.dump.sql
